/* Стили меню */
.menu-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-icon.filled {
  background-color: rgb(52 85 35);
  position: fixed;
  top: 15px;
  left: 15px;
}

.menu-line {
  width: 70%;
  height: 6px;
  background-color: #8bc77f;
  margin: 3px 0;
  transition: 0.3s;
  border-radius: 2px;
}

.sidebar {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 0;
  height: 0;
  background: rgba(45, 80, 22, 0.9);
  backdrop-filter: blur(10px);
  color: white;
  transition: all 0.3s ease;
  z-index: 999;
  box-shadow: 2px 0 10px #0000004d;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding-top: 50px;
}

.sidebar.active {
  width: 250px;
  height: max-content;
  opacity: 1;
  visibility: visible;
  padding-bottom: 10px;
}

.menu-item {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  font-size: 18px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(-10px);
}

.sidebar.active .menu-item {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease 0.2s,
    transform 0.3s ease 0.2s;
}

.menu-item:hover {
  background-color: rgba(45, 80, 22, 0.7);
  text-decoration: none;
  color: white;
}

/* Общая адаптивность */
@media (max-width: 768px) {
  .sidebar.active {
    width: 180px;
  }

  .menu-item {
    padding: 12px 20px;
    font-size: 16px;
  }
}
