<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ВолонтерПарк - регистрация</title>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <div class="login-page" id="loginPage">
        <div class="login-container fade-in">
            <div class="login-header">
                <h3>🌿 ВолонтерПарк</h3>
                <p class="mb-0">Войдите в аккаунт
                </p>
            </div>
            
            <div class="login-form">
                <p class="error" style="color: rgb(170, 58, 58);">{{ error }}</p>
                <form id="loginForm" action="/login" method="post">
                    <div class="form-group">
                        <input class="form-control" placeholder="Логин" required name="login">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Пароль" required name="password">
                    </div>
                    <button type="submit" class="btn-login">Войти</button>
                </form>
                
                <div class="login-links">
                    <a href="/register">Создать аккаунт</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>